<!DOCTYPE html>
<html lang="en">
<Head>
   <meta charset="utf-8">
   <meta name="viewpoint" content="width = device-width,initial-scale = 1">
   <title> Export labour </title>
<ul> {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display
}
</ul>
</Head>
<body>

<ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#donhangdinhat"> Don hang di nhat </a></li>
    <li><a href="#Uudai"> Uu Dai </a></li>
</ul>
</body>
</html>

